/*Single Post Styles*/


article {
	.fade-gallery {
		padding: 15px;
	}
	
	.image-wrapper {
		position: relative;
		width: 100%;
		margin-bottom: 15px;
		text-align: center;
		overflow: hidden;
		.image {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: auto;
			&:first-child {
				position: relative;
			}
		}
	}
	
	.thumbnail-wrapper {
		text-align: center;
		margin-bottom: 15px;
		.thumbnail {
			display: inline-block;
			width: 15%;
			position: relative;
			cursor: pointer;
			margin-right: 10px;
			.overlay {
				display: block;
				width: 100%;
				height: 100%;
				background-color: $dark;
				position: absolute;
				opacity: 0.5;
			}
			&.active .overlay {
				display: none;
			}
			img {
				width: auto;
				height: 50px;
			}
		}
	}
	
	.text-wrapper {
		position: relative;
		margin-bottom: 15px;
		overflow: hidden;
		.text {
			position: absolute;
			top: 0;
			left: 0;
			font-size: 1.4rem;
			&:first-child {
				position: relative;
			}
		}
	}
	
	.button-wrapper {
		width: 100%;
		height: 62px;
		position: relative;
		cursor: pointer;
		.site-btn {
			display: block;
			width: 190px;
			height: 42px;
			background-color: $dark;
			padding: 14px 10px;
			margin: 0 auto;
			position: absolute;
			top: 10px; bottom: 0px; right: 0; left: 0;
			text-align: center;
			font-size: 1.4rem;
			text-transform: uppercase;
			color: white;
			z-index: 5;
		}
		.button-hover {
			display: block;
			width: 188px;
			height: 42px;
			margin: 0 auto;
			position: absolute;
			-webkit-transition: .2s ease-in;
			-moz-transition: .2s ease-in;
			-o-transition: .2s ease-in;
			-ms-transition: .2s ease-in;
			transition: .2s ease-in;
			&.button-hover-top {
				background-image: url('../images/site-btn-border-top.png');
				top:10px;
				right:0;
				left: 0;
				transform: translate(0px, 0px);
			}
			&.button-hover-bottom {
				background-image: url('../images/site-btn-border-bottom.png');
				bottom:10px;
				right:0;
				left:0;
				transform: translate(0px, 0px);
			}
		}
		&:hover {
			.button-hover-top {
				transform: translate(10px, -10px);
			}
			.button-hover-bottom {
				transform: translate(-10px, 10px);
			}
		}
	}
}